.menu-outside-wrp {
    position: absolute;
    top: 90px;
    left: -160px;
    /*background: #fff;*/
    /*border: 1px solid #000;*/
}

.menu-outside-wrp ul li{
    margin-top: 3px;
}

.menu-outside-wrp ul li a{
    color: #000;
}
