/* #search-list-orders-wrp { */
    /* margin-left: 15px; */
/* } */



#term-filters-wrp {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px 0;
}

#term-filters-wrp span {
    font-size: 16px;
    font-weight: bold;
}

#term-filter-type  {
	font-size: 16px;
    width: 180px;
    height: 28px;
}



/* form search term */
#form-term-search-wrp {
    position: absolute;
    top: 10px;
    left: 657px;
}

#form-term-search-wrp input[type="submit"] {
    padding: 4px 10px 4px 10px;
	height: 30px;
}

#form-term-search-wrp input[type="text"] {
    width: 205px;
	height: 20px;
}

.term-images-td {
	text-align: left;
}

.term-images-td img {
	/* visibility: hidden; */
}




