/* form search term */
#form-term-search-wrp {
    position: absolute;
    top: 10px;
    left: 657px;
}

#form-term-search-wrp input[type="submit"] {
    padding: 4px 10px 4px 10px;
	height: 30px;
}

#form-term-search-wrp input[type="text"] {
    width: 205px;
	height: 20px;
}

.term-images {
	text-align: left;
}

.pagination-wrp {
    text-align: center;
}

.list-words, .list-phrase {
    margin-bottom: 20px;
}

.hidden {
   display: none;
}